
.form-nuevo-curso{
    div{

        display: flex;
            flex-direction: column;
            width: 30%;
            margin-left: 20px;
    }

        label   {
            margin: 5px;
        }

        input{
            padding: 5px;
        }
}

.lista-cursos{
    margin: 20px;
}

.titulo{
    margin: 20px;
}

#cursos{
    display: flex;
    .curso{

        margin: 20px;
        li{
            list-style: none;

            &.descripcion-listas-cursos{
                margin: 5px 0;
            }

        }
        & button{
            margin: 5px 0;
        }
        
    }
    .thumbnail-listas-cursos{
        aspect-ratio: 16/9;
    max-width: 100%;
    max-height: 500px;
    object-fit: cover;
    }

}




