$primary-color: #9040C1;
$secondary-color:#ff97e7;
$primary-text-color: #8b8b8b,;
$secondaty-text-color:#9040C1;
$input-text-color: black;
$primary-font-style:'Montserrat';
$secondary-color-gradient:linear-gradient(308deg, #9040c1 22%, #f84cf0 100%);
$primary-color-gradient: linear-gradient(312deg, #ffcbdb 0%, #fa6691 100%);
$golden-color-gradiant:linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);