<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
  </head>

  <body>
    <div class="header">
      <header>
        <nav class="nav">
          <ul>
            <li><a href="">Inicio</a></li>
            <li><a href="adminCurso.ejs">Cursos</a></li>
          </ul>
        </nav>
        <div class="line"></div>
      </header>
    </div>

    <h2 class="titulo">Crear curso Nuevo</h2>

    <form
      class="form-nuevo-curso"
      method="POST"
      action="/api/authenticated"
      enctype="multipart/form-data"
    >
      <div>
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="fileName" />
      </div>
      <div>
        <label for="descripcion">Descripcion</label>
        <textarea name="descripcion" id="descripcion" rows="4" cols="50"></textarea> 
      </div>
      <div>
        <label for="precio">Precio</label> <input type="number" name="precio" />
      </div>
      <div>
        <label for="files">Video</label> <input type="file" name="files" />
      </div>
      <div>
        <label for="thumbail">Thumbnail</label>
        <input type="file" name="thumbnail" />
      </div>
      <div><input type="submit" value="Subir" /></div>
      <img src="../views/assets/WhatsApp Image 2021-10-18 at 16.21.31.jpeg" alt="">
    </form>

    <div class="lista-cursos">
      <h2>Todos los cursos</h2>
      <button type="button" id="btnListarCursos">listar cursos</button>
      <div id="cursos"></div>
    </div>
    <script src="/js/admin.js"></script>
  </body>
</html>
