<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/_head.ejs') %>
</head>

<body class="body-contacto">
    <div class="header-contacto" >
        <header>
            <nav class="nav">
                <ul>
                    <% if (typeof isLoggedIn !== "undefined") { %>
           
                        <li><a href="/profile">Inicio</a></li>
                      
                      <% } else { %>
                       
                        <li><a href="/">Inicio</a></li>
                      <% } %>
                      <% if (typeof isLoggedIn !== "undefined") { %>
                        <li><a href="/misCursos">Mis Cursos</a></li>
                        <% } %>

                    <li><a href="/contacto">Contacto</a></li>
                    <% if (typeof isLoggedIn !== "undefined") { %>
                    <a href="/logout"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M160 96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96C43 32 0 75 0 128V384c0 53 43 96 96 96h64c17.7 0 32-14.3 32-32s-14.3-32-32-32H96c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32h64zM504.5 273.4c4.8-4.5 7.5-10.8 7.5-17.4s-2.7-12.9-7.5-17.4l-144-136c-7-6.6-17.2-8.4-26-4.6s-14.5 12.5-14.5 22v72H192c-17.7 0-32 14.3-32 32l0 64c0 17.7 14.3 32 32 32H320v72c0 9.6 5.7 18.2 14.5 22s19 2 26-4.6l144-136z"/></svg></a>
                    <% } %>
                </ul>

            </nav>
            <div class="line"></div>
        </header>
    </div>

        <main class="contacto">
<form class="formulario" action="https://formsubmit.co/martinmelcon12@hotmail.com" method="POST">


                    <input type="text" name="nombre" id="nombre" placeholder="Nombre">
                    <div class="line2"></div>
    
                    <input type="email" name="email" id="email" placeholder="Email">
                    <div class="line2"></div>
    
                    <textarea name="mensaje" id="mensaje" cols="10" rows="5" placeholder="Mensaje"></textarea>
                    <input type="hidden" name="_next" value="https://www.lichydessa.com/profile">
                    <input type="hidden" name="_captcha" value="false">

                <button class="btnMensaje" type="submit">Enviar</button>

            </form>
            
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3110.1349148781796!2d-62.267262048867956!3d-38.783541379488334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95edbd550c36ecc3%3A0x5385d1a6e0a9cf07!2sAv.%20Gral.%20San%20Mart%C3%ADn%203686%2C%20Bah%C3%ADa%20Blanca%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1sen!2sar!4v1668090610956!5m2!1sen!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </main>



        <footer style="justify-self: flex-end" class="footer footer_mis_cursos">
            <%- include('partials/_footer.ejs') %>
        </footer>
</body>

</html>
