<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_head.ejs') %>
</head>


<body>

  <div class="header">
    <header>
      <nav class="nav">
        <ul>
          <li><a href="/">Inicio</a> </li>
          <% if (globslUserId) { %>
            <li><a href="/misCursos">Mis Cursos</a></li>
            <% } %>
              <li><a href="/contacto">Contacto</a></li>
        </ul>
      </nav>
      <div class="line"></div>
    </header>

    <!--Content before waves-->
    <div class="inner-header flex">

      <aside class="aside">

        <div class="toast"></div>

        <form class="login" method="POST">

          <div class="imgcontainer">
            <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <path
                d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z" />
            </svg>
          </div>

          <div class="form">
            <input type="email" autocomplete="off" placeholder="Email" name="username" required />
            <div class="line"></div>
            <input type="password" placeholder="Contraseña" name="password" required />
            <div class="line"></div>

            <div class="signBtn">
              <button class="login-btn" type="submit" formaction="/login">Ingresar</button>
              <button class="signin-btn" type="submit" formaction="/signup">
                <div class="wrap">Registrarse
              </button>

            </div>
          </div>

          <!-- Muestra mensajes de error o exito dependiendo delinput del usuario  -->

          <% if (success) { %>
            <div class="alert success">
              <p>
                <%= success %>
              </p>
            </div>
          <% } %>
          <% if (error) { %>
            <div class="alert error">
              <p>
                <%= error %>
              </p>
            </div>
          <% } %>
        </form>
      </aside>

      <div class="texto">
        <div class="contenido-imagenes">
          <img src="./logo.png" alt="logo lichy dessa">

        </div>


        <h1 class="titulo">Lichy Dessa Hair Studio</h1>
        <p class="texto-principal">
          Hola!! Me presento soy Lichy; pofesional hace 15 años. <br> A lo largo de esta profesión entendí que uno nunca
          deja de aprender, por que todo los días se renuevan las tendencias.
          Hoy los invito a que puedan disfrutar de esta experiencia nueva.<br> El saber no ocupa lugar y mientas más
          conocimiento tengamos, más fácil sera ofrecer nuestro servicio!
        </p>
      </div>

    </div>

    <!--Waves Container-->
    <div>
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
          <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
          <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
      </svg>
    </div>
    <!--Waves end-->
  </div>
  <!--Header ends-->

  <!--Content starts-->

  <main>

    <!-- contenido que se muestra solo en mobile -->
    <div class="contenido-mobile">
      <div class="texto">
        <div class="contenido-imagenes-mobile">
          <img src="./assets/balayajeCompleto_Moment.jpg" alt="">
          <img src="./assets/balayajeCompleto_Moment.jpg" alt="">
          <img src="./assets/balayajeCompleto_Moment.jpg" alt="">
        </div>


        <h1 class="titulo">Lichy Dessa Hair Studio</h1>
        <p class="texto-principal">
          Hola!! Me presento soy Lichy; pofesional hace 15 años. <br> A lo largo de esta profesión entendí que uno nunca
          deja de aprender, por que todo los días se renuevan las tendencias.
          Hoy los invito a que puedan disfrutar de esta experiencia nueva.<br> El saber no ocupa lugar y mientas más
          conocimiento tengamos, más fácil sera ofrecer nuestro servicio!
        </p>
      </div>


      <!-- contenido que se muestra solo en mobile -->
    </div>

    <footer class="footer">

      <%- include('partials/_footer.ejs') %>

    </footer>


  </main>


  <!--Content ends-->

  <script src="./js/index.js"></script>

</body>

</html>