<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_head.ejs') %>
</head>

<body class="mis_cursos_body">
  <div>
    <header>
      <nav class="nav">
        <ul>
          <li><a href="/api/authenticated">Inicio</a></li>
          <li><a href="">Contacto</a></li>
          <li><a href="">Mis Cursos</a></li>
        </ul>
      </nav>
      <div class="line"></div>
    </header>
  </div>


  <div class="userCursos" id="userCursos"></div>
 

  <footer class="footer footer_mis_cursos">
    <%- include('partials/_footer.ejs') %>
  </footer>
</div>


  <script src="/./js/misCursos.js"></script>
  
</body>

</html>